@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fbcd0e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.parent-link:hover {
  color: var(--primary);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

html {
  position: relative;
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--primary);
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animation-white {
  position: relative;
}

.underline-animation-white::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.underline-animation-white:hover::after {
  width: 100%;
}

.promo1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/promo1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.promo2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/promo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promoAttach {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/bgAttached.png");
  background-size: cover;
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-position: center;
}
.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/testimonials.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Scandinavian1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/Scandinavian1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Chandeliers3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/Chandeliers3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/aboutbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.contactUs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/contactbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.statsSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)),
    url("/images/statsBg.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.whyUsImg1 {
  border-top-left-radius: 6.5rem;
  border-bottom-right-radius: 6.5rem;
}
.whyUsImg2 {
  border-top-left-radius: 4rem;
}
.whyUsImg3 {
  border-top-right-radius: 4rem;
}

.filter-sidebar {
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
}

.filter-sidebar::-webkit-scrollbar {
  width: 1px; /* Set scrollbar width */
  background: transparent;
}

.filter-sidebar::-webkit-scrollbar-thumb {
  background-color: transparent; /* White scrollbar thumb */
  border-radius: 9999px; /* Fully rounded corners */
}

.filter-sidebar::-webkit-scrollbar-track {
  background-color: transparent; /* Light gray track (matches Tailwind's gray-200) */
}

.outline-text {
  color: transparent; /* Makes the text hollow */
  -webkit-text-stroke: 1px black;
}

.active-small-category .small-category-text {
  color: white; /* Solid text on hover */
  -webkit-text-stroke: 0; /* Removes the outline on hover */
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 0.5s ease-out;
  animation-fill-mode: both;
}

.accordion-child,
.productModal,
.product-card {
  scrollbar-width: none; /* For Firefox */
}

.accordion-child::-webkit-scrollbar,
.productModal::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and newer versions of Edge */
}

.contactUs {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.85)
    ),
    url("/images/contactSectionBg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.productModal {
  max-height: 400px; /* Default for mobile and smaller screens */
  overflow-y: auto; /* Add scrolling if content exceeds the max height */
}

@media (min-width: 768px) {
  /* Apply for medium screens and larger */
  .productModal {
    max-height: 500px;
  }
}

@media (min-width: 1024px) {
  /* Apply for large screens and larger */
  .productModal {
    max-height: 1000px; /* Let it grow naturally */
  }
}
